<!-- needs the controller-props to render -->
<div class="table-decor">
	 <!-- the columns of the grid --> 
	 <div class="all-columns"> 
	 	<div class="fixed-columns">
	 		<!-- fixed columns are rendered here (upper left corner) -->	 	 	
	 	</div>
	 	<div class="columns-container">
	 		<div class="columns">	
	 			<!-- header columns are rendered here --> 	 			 
	 		</div> 
	 	</div>
	 </div> 
	  
	 <!-- vertical scrolling container --> 
	 <div class="vscroller"> 
	  
	 	<!-- the rows of the grid -->  
	 	<div class="fixed-cells"> 
	 	<!-- fixed cells (left side) are rendered here -->
	 	</div> 
	  
	 	<!-- the data-cells of the grid --> 
	 	<div class="cell-container"> 
	 		<div class="cells"> 
	 		<!-- data-cells are rendered here -->
	 		</div> 
	 	</div> 
	 </div> 
	 
	 <!-- footer -->
	 <% if(fixFooter){ %>
	 <div class="fixed-footer-cells">
	 	<!-- fixed footer cells (left lower corner) are rendered here -->	 	
	 </div>
	 <div class="footer-container">
	 	<div class="footers">
	 	<!-- footer cells are rendered here -->	 		
	 	</div>
	 </div>
	 <% } %>
	  
	 <!-- horizontal scroller --> 
	 <div class="hscroller"> 
	 	<div class="fake"></div> 
	 </div> 
</div>
	