/* status colors */
/* dialogs */
/* gantt-chart colors */
/* global-vars */
/* button-decor */
/* gantt-chart */
/* ui-select */
.select-wrapper {
  display: inline-block;
  position: relative;
  color: white;
  font-weight: bold;
  vertical-align: top;
  cursor: pointer;
  height: 28px;
  width: 130px;
}
.select-wrapper select {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.select-wrapper .select-decor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  background-color: #8eb0f7;
  background-image: linear-gradient(to bottom, #8eb0f7, #6696f8);
  background-image: -o-linear-gradient(top, #8eb0f7, #6696f8);
  background-image: -ms-linear-gradient(top, #8eb0f7, #6696f8);
  background-image: -webkit-linear-gradient(top, #8eb0f7, #6696f8);
  background-image: url("arrow-down.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-origin: content-box, padding-box;
  border-radius: 7px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 5px 3px 5px;
  color: white;
  font-weight: bold;
  font-family: tahoma;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #3c4e9a;
  text-shadow: 1px 1px 1px black;
}
/* ui-button */
.button-decor {
  position: relative;
  border: none;
  color: black;
  font-family: tahoma;
  font-size: 15px;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, #e8e8e8, #d7d7d7);
  background-image: -o-linear-gradient(top, #e8e8e8, #d7d7d7);
  background-image: -ms-linear-gradient(top, #e8e8e8, #d7d7d7);
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d7d7d7);
  background-color: #e8e8e8;
  padding: 3px 15px;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  box-shadow: 0 2px 2px -1px #000000, 0 1px 1px 0 #ffffff inset;
  text-shadow: 1px 1px 1px black;
}
.button-decor:hover {
  box-shadow: 0px 0px 3px 0px black;
}
.button-decor:active {
  box-shadow: 0px 0px 1px 0px black;
}
.button-decor[disabled] {
  background-image: #cccccc;
  color: #dddddd;
  box-shadow: 0 1px 2px -1px #000000, 0 1px 1px 0 #ffffff inset;
  cursor: default;
}
.button-decor[disabled]:hover {
  box-shadow: 0 1px 2px -1px #000000, 0 1px 1px 0 #ffffff inset;
}
.button-decor[disabled]:active {
  box-shadow: 0 1px 2px -1px #000000, 0 1px 1px 0 #ffffff inset;
}
.button-decor.loading {
  cursor: default;
}
.button-decor.loading:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 7px;
  background: url("loading.gif") no-repeat center center, rgba(255, 255, 255, 0.7);
  background-size: contain;
}
.button-decor.loading:active {
  box-shadow: 0 2px 2px -1px #000000, 0 1px 1px 0 #ffffff inset;
}
.button-decor.loading:hover {
  box-shadow: 0 2px 2px -1px #000000, 0 1px 1px 0 #ffffff inset;
}
/* ui-input */
.input-decor {
  background-color: white;
  border-radius: 7px;
  font-family: tahoma;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border: 1px solid #adadad;
}
/* ui-dialog */
.dialog-decor-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
.dialog-decor-wrapper .dialog-decor-target {
  position: absolute;
  top: 10%;
  left: 50%;
  border-radius: 7px;
  font-weight: bold;
  display: none;
}
.dialog-decor-wrapper .header {
  border-radius: 7px 7px 0px 0px;
  background-image: linear-gradient(to bottom, #8caef8, #6995f8);
  background-image: -o-linear-gradient(top, #8caef8, #6995f8);
  background-image: -ms-linear-gradient(top, #8caef8, #6995f8);
  background-image: -webkit-linear-gradient(top, #8caef8, #6995f8);
  background-color: #8caef8;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 25px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0px;
  box-shadow: 0px 1px 1px 0px white inset;
  border: 1px solid #3c4e9a;
}
.dialog-decor-wrapper.warning .header {
  background-image: linear-gradient(to bottom, #e06666, #cc0000);
  background-image: -o-linear-gradient(top, #e06666, #cc0000);
  background-image: -ms-linear-gradient(top, #e06666, #cc0000);
  background-image: -webkit-linear-gradient(top, #e06666, #cc0000);
  background-color: #e06666;
}
.dialog-decor-wrapper .content {
  border-radius: 0px 0px 7px 7px;
  background-image: linear-gradient(to bottom, #e8e8e8, #d6d6d6);
  background-image: -o-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -ms-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-color: #e8e8e8;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.edit-dialog .button-bar {
  height: 55px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: right;
}
.edit-dialog .button-bar button {
  margin: 10px 10px;
}
.dialog-decor-wrapper .header .closing {
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}
.dialog-decor-wrapper .header .closing:hover {
  color: black;
}
/* gantt-chart */
.gantt.container {
  position: relative;
  z-index: 0;
  width: 250px;
  height: 200px;
}
/* general pseudo-table styles */
.gantt.container .tableCell {
  float: left;
  overflow: hidden;
  position: relative;
}
.gantt.container .tableCell .content {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #999999;
}
/* special borders */
.gantt.container .columns .tableCell .content {
  border-top: none;
}
.gantt.container .rows .tableCell:first-child .content,
.gantt.container .cells .row:first-child .content {
  border-top: none;
}
.gantt.container .cells .content {
  border-color: #cccccc;
}
.gantt.container .cells .row:last-child .content {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
/* style for rows */
.gantt.container .rows .tableCell .content {
  white-space: nowrap;
}
/* style for columns */
.gantt.container .cols-container {
  overflow-x: hidden;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #999999;
}
.gantt.container .columns {
  position: relative;
}
/* scroll-containers */
.gantt.container .vscroller {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  border-top: 1px solid #999999;
}
.gantt.container .hscroller {
  position: absolute;
  overflow-x: auto;
  z-index: 0;
}
.gantt.container .hscroller .fake {
  height: 1px;
}
/* cell styles */
.gantt.container .cells {
  position: relative;
}
.gantt.container .cell-container {
  overflow-x: hidden;
  overflow-y: visible;
  position: absolute;
}
.gantt.container .cell.marked .content:before {
  content: '';
  position: absolute;
  height: 70%;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
}
.gantt.container .cell.marked.green .content:before {
  background: #008000;
}
.gantt.container .cell.marked.yellow .content:before {
  background: #ffff00;
}
.gantt.container .cell.marked.red .content:before {
  background: #ff0000;
}
.gantt.container .cell.marked.black .content:before {
  background: #000000;
}
.gantt.container .cell.marked.start .content:before {
  right: 0px;
  width: 70%;
  border-radius: 50% 0 0 50%;
  cursor: move;
}
.gantt.container .cell.marked.end .content:before {
  left: 0px;
  width: 70%;
  border-radius: 0 50% 50% 0;
  cursor: move;
}
.gantt.container .cell.marked.start.end .content:before {
  left: 0px;
  width: 70%;
  border-radius: 70%;
}
/* table-decor */
.table-decor {
  position: relative;
  z-index: 0;
}
/* general pseudo-table styles */
.table-decor .tableCell {
  float: left;
  overflow: hidden;
  position: relative;
}
.table-decor .tableCell .content {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: transparent;
  background-image: linear-gradient(to bottom, #e8e8e8, #d6d6d6);
  background-image: -o-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -ms-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-color: #e8e8e8;
}
.table-decor .cells .tableCell .content {
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-color: #ffffff;
  border-color: #e5e5e5;
}
/* special borders */
.table-decor .fixed-cells .content {
  border-width: 0px 1px 0px 0px;
}
.table-decor .all-columns .tableCell .content {
  border-width: 0px 1px 0px 0px;
}
.table-decor .all-columns .tableCell .content,
.table-decor .fixed-cells .content,
.table-decor .footers .tableCell .content,
.table-decor .fixed-footer-cells .tableCell .content {
  border-right-color: #999999;
}
/* style for columns */
.table-decor .columns-container {
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.table-decor .all-columns {
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.table-decor .fixed-columns {
  position: absolute;
  left: 0px;
  top: 0px;
}
.table-decor .columns {
  position: absolute;
  left: px;
  top: 0px;
}
.table-decor .row {
  clear: both;
  position: relative;
}
/* scroll-containers */
.table-decor .vscroller {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
}
.table-decor .hscroller {
  position: absolute;
  overflow-x: auto;
}
.table-decor .hscroller .fake {
  height: 1px;
}
/* cell styles */
.table-decor .fixed-cells {
  position: absolute;
  left: 0px;
  top: 0px;
}
.table-decor .fixed-footer-cells {
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}
.table-decor .footers {
  position: absolute;
  top: 0px;
}
.table-decor .footer-container {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}
.table-decor .cells {
  position: relative;
  overflow: visible;
}
.table-decor .cell-container {
  overflow-x: hidden;
  overflow-y: visible;
  position: absolute;
  top: 0px;
}
.hierarchy-table-decor .fixed-columns .level-container,
.hierarchy-table-decor .fixed-footer-cells .level-container {
  text-align: right;
}
.hierarchy-table-decor .tableCell .content {
  background-image: none;
  background-color: transparent;
}
.hierarchy-table-decor .tableCell {
  background-image: linear-gradient(to bottom, #e8e8e8, #d6d6d6);
  background-image: -o-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -ms-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-color: #e8e8e8;
}
.hierarchy-table-decor .fixed-cells .tableCell,
.hierarchy-table-decor .fixed-footer-cells .tableCell {
  position: absolute;
  right: 0px;
  top: 0px;
  float: none;
}
.hierarchy-table-decor .fixed-cells .tableCell .content:hover,
.hierarchy-table-decor .columns .tableCell .content:hover {
  background-image: linear-gradient(to bottom, #b5b5b5, #a3a3a3);
  background-image: -o-linear-gradient(top, #b5b5b5, #a3a3a3);
  background-image: -ms-linear-gradient(top, #b5b5b5, #a3a3a3);
  background-image: -webkit-linear-gradient(top, #b5b5b5, #a3a3a3);
  background-color: #b5b5b5;
  cursor: pointer;
}
.hierarchy-table-decor .fixed-cells > .row > .tableCell {
  left: 0px;
  right: auto;
}
