/* status colors */
/* dialogs */
/* gantt-chart colors */
/* table-decor */
.table-decor {
  position: relative;
  z-index: 0;
}
/* general pseudo-table styles */
.table-decor .tableCell {
  float: left;
  overflow: hidden;
  position: relative;
}
.table-decor .tableCell .content {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: transparent;
  background-image: linear-gradient(to bottom, #e8e8e8, #d6d6d6);
  background-image: -o-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -ms-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d6d6d6);
  background-color: #e8e8e8;
}
.table-decor .cells .tableCell .content {
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-color: #ffffff;
  border-color: #e5e5e5;
}
/* special borders */
.table-decor .fixed-cells .content {
  border-width: 0px 1px 0px 0px;
}
.table-decor .all-columns .tableCell .content {
  border-width: 0px 1px 0px 0px;
}
.table-decor .all-columns .tableCell .content,
.table-decor .fixed-cells .content,
.table-decor .footers .tableCell .content,
.table-decor .fixed-footer-cells .tableCell .content {
  border-right-color: #999999;
}
/* style for columns */
.table-decor .columns-container {
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.table-decor .all-columns {
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.table-decor .fixed-columns {
  position: absolute;
  left: 0px;
  top: 0px;
}
.table-decor .columns {
  position: absolute;
  left: px;
  top: 0px;
}
.table-decor .row {
  clear: both;
}
/* scroll-containers */
.table-decor .vscroller {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
}
.table-decor .hscroller {
  position: absolute;
  overflow-x: auto;
}
.table-decor .hscroller .fake {
  height: 1px;
}
/* cell styles */
.table-decor .fixed-cells {
  position: absolute;
  left: 0px;
  top: 0px;
}
.table-decor .fixed-footer-cells {
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}
.table-decor .footers {
  position: absolute;
  top: 0px;
}
.table-decor .footer-container {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}
.table-decor .cells {
  position: relative;
  overflow: visible;
}
.table-decor .cell-container {
  overflow-x: hidden;
  overflow-y: visible;
  position: absolute;
  top: 0px;
}
